<footer>
    <p style="font-size: 10px;">| Copyright {{getCurrentYear}} | LRWC. All rights reserved | Powered by NodeJS |</p> <!--it automatically looks helper (hbs.registerHelper) getCurrentYear-->
    <!--no need for () in getCurrentYear -->
</footer>