<h1>{{header}}</h1> {{!-- this is a dynamic header: {{}}this is a handlebar syntax. it get the values declared in server.js--}} 

<a href="/"> Home </a> |
<a href="about">Reset</a> |
<!-- <a href="maintenance">Maintenance</a> -->

