<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- this gets the value what is declaired in the title.hbs w/c also refer to server.js -->
        <title>About</title> {{!-- needs to declared title tags in here! }}--}}
    </head>
    <body style="font-family:verdana;">
        {{> header}} <!-- refering to the header.hbs under <views> -->

            <!--screamit it capitalize the text. make sur to set it it server.js, welcome_message was set already in server.js -->
            <p>{{screamIt welcome_message}}</p> <!-- it directly get the data in server.js.-->

        <!--TO USE A PARTIAL FOOTER note: make sure you have a footer.hbs under partials folder and and declared under server.js-->
        {{> footer}}  <!-- this is the syntax in inserting partial footer -->

    </body>
</html> 